body{
  background-image: url(/images/sea.png);
  background-size:cover;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

}
h1{
  font-size: 50pt;
  color: red
}
p{
  margin-right: 30%;
}
.controller{
  clear: both;


}
.jack{
  background-image: url(/images/Jack.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-left: 35%;
  margin-bottom: 5%;
}
.jack:hover{
background-image: url(/images/Jack2.png);
}
.board{
  background-image: url(/images/boardjack.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-left: 35%;
  margin-bottom: 5%;
}
.board:hover{
background-image: url(/images/boardjack2.png);
}
.gun{
  background-image: url(/images/jack3.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-left: 35%;
  margin-bottom: 5%;
}
.gun:hover{
background-image: url(/images/jack3.1.png);
}
